/*Diseños de About me*/
.about {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background: linear-gradient(var(--bg-color), var(--second-bg-color));
}

.about-img img {
    width: 35vw;
    border-radius: 70%;
}

.heading {
    text-align: center;
    font-size: 5.2rem;
}

.about-content h2 {
    text-align: left;
    line-height: 1.2;
}

.about-content h3 {
    font-size: 2.6rem;
}

.about-content p {
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
}

/*********Beackpoint 768PX*********/
@media (max-width: 768px){
    .about{
         flex-direction: column-reverse;   
    }

    .about-content h2 {
        text-align: center;
        font-size: 6rem;
    }

    .heading{
        width: 50%; 
        margin: 0 auto; 
    }

    .about-content{
        width: 80%; 
        margin: 0 auto; 
        text-align: center;
        display: block;
    }

    .about-content p {
        font-size: 2.25rem;
    }

    .about-img{
        width: 20vw;
        margin: 5rem;
        border: 0.5rem solid transparent; /* Elimina el borde inicial */
        filter: drop-shadow(0 0 1rem #1f0b8f);  
    }
    
}
