/*Diseño de los proyects*/

.proyects {
    background: linear-gradient(#001b5f, var(--second-bg-color));
    padding-top: 0;
}

.proyects h2 {
    margin-bottom: 4rem;
}

.proyects-buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem;
    font-size: 2rem;
    text-decoration: none;
}

.proyects-buttons .category-item{
    margin: 2rem;
    color: var(--text-color);
}

.proyects-buttons .ct_item_active{
    color: var(--main-color);
    font-weight: bold;
}

.btn-proyect{
    font-size: 1.7rem;
    margin: 2rem;
    background: none;
    color: var(--text-color);
    font-weight:bold ;
    cursor: pointer;
}

.proyects-container {
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    align-items: center;
    gap: 2.5rem;
}

.proyects-container .proyects-box{
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 1rem var(--bg-color);
    overflow: hidden;
    display: flex;
    transition: all 1s;
}

.proyects-box img{
    width: 100%;
    transition: .5s ease;
}

.proyects-box:hover img{
    transform: scale(1.1);
}

.proyects-box .proyects-layer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #000000, #000000d9 );
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    transform: translateY(100%);
    transition: .7s ease;  
}

.proyects-box:hover .proyects-layer{
    transform: translateY(0);
}


.proyects-layer h4{
    font-size: 2.5rem;
    color: var(--text-color);  
    font-weight: bold;  
}

.proyect-icon{
    margin: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    flex-wrap: wrap;
    position: relative;
}

.proyect-icon span{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: normal;
    gap: .5rem;
    padding: .3rem;
    font-size: 1.5rem;
    border-radius: .5rem;
}

#react-color{
    background:#5ED3F4;
    color:black;
   
}

#html-color{
    background:#DD4B25;
    color:black;
  
}

#css-color{
    background:#254BDD;
    color:black;


}
#script-color{
    background:#E8D44D;
    color:black;
}

.proyects-layer p{
    font-size: 1.5rem;
    margin: .3rem 0 1rem;
    color: var(--text-color); 
}

.pro-span{
    font-weight: bold;
    font-size: 2rem;
    color: var(--text-color);
}

.proyects-layer a{
   display: inline-flex;
   justify-content: center;
   align-items: center;
   width: 5rem;
   height: 5rem;
   background: var(--text-color);
   border-radius: 50%;
   margin: 2rem;
   text-decoration: none;
}

.proyects-layer a i {
    font-size: 3rem;
    color: var(--second-bg-color);
    display: inline-flex;
}

/*Break points*/

@media (max-width: 991px){
  .proyects{
    padding-bottom: 7rem;
  }
}

@media (max-width: 768px){
    .proyects-container{
        grid-template-columns: repeat(2 , 1fr);
    }

    .proyects h2{
        margin-bottom: 3rem;
    }

    .proyects-layer h4{
        font-size: 4rem ;
    }

    .proyect-icon span{
        font-size: 2.5rem;
    }

    .proyects-layer p{
        font-size: 2rem;
    }

    
}

@media (max-width: 617px){
    .proyects-container{
        grid-template-columns: 1fr;
    }

    .proyects-layer h4{
        font-size: 4rem ;
    }

    .proyect-icon p{
        font-size: 2.5rem;
    }

    .proyects-layer p{
        font-size: 2.5rem;
    }
}

