@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

:root {
    --bg-color: #000615;
    --second-bg-color: #000e2f;
    --text-color: #fff;
    --main-color: #F09D51;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
}

section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;

}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background-color: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 600;
    cursor: default;
}

.navbar a {
    font-size: 1.7rem;
    color: var(--text-color);
    margin-left: 4rem;
}

.navbar a:hover {
    color: var(--main-color);
    text-shadow: 0 0 1rem #ffffff;
    border-radius: 100%;
    transition: .3s;
}

#menu-icon {
    font-size: 3.6rem;
    color: var(--text-color);
    display: none;
}

/*Diseno del home */
.home {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-img img {
    width: 35vw;
    border-radius: 70%;
    margin: 5rem;
}

.home-content h3 {
    font-size: 3.2rem;
    font-weight: 700;
}

span {
    color: var(--main-color);
}

.home-content h1 {
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;
}

.home-content p {
    font-size: 1.6rem;
}

.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: .5s ease;
}

.social-media a:hover {
    background: var(--main-color);
    color: var(--second-bg-color);
    box-shadow: 0 0 1rem #fff;
}

.btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    border-radius: 4rem;
    box-shadow: 0 0 .5rem var(--main-color);
    font-size: 1.6rem;
    color: var(--second-bg-color);
    letter-spacing: .1rem;
    font-weight: 600;
    transition: .5s ease;
}

.btn:hover {
    box-shadow: none;
    color: var(--main-color);
    background: var(--second-bg-color);
}

/*Diseños de About me*/

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background: linear-gradient(var(--bg-color), var(--second-bg-color));
}

.about-img img {
    width: 35vw;
    border-radius: 70%;
}

.heading {
    text-align: center;
    font-size: 5.2rem;
}

.about-content h2 {
    text-align: left;
    line-height: 1.2;
}

.about-content h3 {
    font-size: 2.6rem;
}

.about-content p {
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
}

/*Diseño de las skills*/
.skills {
    background: linear-gradient(var(--second-bg-color), #001b5f);
}

.skills-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5.2rem;
    margin-bottom: 5rem;  
}

.skills-title span {
    margin: 0 1rem;  
}

.skills .contenedor-skills ul li {
    list-style-type: none;
}

.ul-skills {
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
    justify-content: center;
    
}

.item {
    font-size: 2.5rem;
}

.div-icon{
    height: 15rem;
    width: 15rem; 
}

.icon-img{
   height: 15rem;
   width: 15rem;
   box-shadow: 5px 5px 10px rgba(0, 0, 0, 4);
   transition: 1s; 
}

.icon-img:hover{
    filter: grayscale(1) blur(3px);
}

.icon-text {
    font-size: 3rem;
    color: #940B92;
    font-weight: bold;
    display: flex;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transition: 1s;
}

.div-icon:hover .icon-text {
    opacity: 1;
    transform: translateY(-250%);
}

.div-icon:hover .icon-img {
    filter: grayscale(1) blur(3px);
}

/*Diseño de los proyects*/